main{
    display: flex;
    background-color: #f3cdd5;
}

main > div{
    padding:10px;
}
main > div > header{
    font-size: 20px;
    font-weight: 800;
    padding-right: 60px;
    padding-left: 100px;
}
.first-section{
    padding-top: 60px;
    padding-left: 100px;
    margin-right: 130px;
    width: auto;
}
.first-section p{
    padding-right: 50px;
    padding-left: 100px;
    color: #00000098;
}
.first-section button{
    background-color: #E55473;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 15px;
    margin-left: 90px;
}
.first-section-img{
    padding-right: 80px;
    margin-right: 50px;
    width: 100%;
}
.second-section header{
    text-align: center;
    padding: 60px;
}
.second-section-images{
    display: flex;
    justify-content: center;
}

.second-section-images #first{
    background-color:#f3cdd5;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 150px;   /* For half circle */
    border-top-right-radius: 150px;
}
.second-section-images #second{
    background-color: #d4f5f7;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 150px;   /* For half circle */
    border-top-right-radius: 150px;
}
.second-section-images #third{
    background-color: #dbf5c1;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 150px;    /* For half circle */
    border-top-right-radius: 150px;
    
}

.second-section-second-part{
    margin-top: 80px;
    display: flex;
    gap: 30px;
    background-color: aliceblue;
    justify-content: center;
    padding:40px ;
    width: 70%;
    margin-left:150px ;
}

.second-section-second-part div{
    padding: 20px;
    text-align: center;
}
.third-section{
    display: flex;
    background-color: #f1d9de;
    margin-top: 80px;
    gap: 50px; 
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}
.third-section-heading{
    width: 100%;
}
.third-section-heading > header{
    font-size: 20px;
    font-weight: 800;
}
.third-section-heading > p{
    color: #00000098;
    text-align: center;
}
.third-section-heading button{
    background-color: #E55473;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 15px;
    margin-left: 220px;
}
.third-section-img{
    width: 100%;
    padding-left: 120px;
}
.fourth-section header{
    text-align: center;
    padding: 60px;
}

.fourth-section-images{
    display: flex;
    justify-content: center;
    /* margin: auto; */
}

.fourth-section-images > div{
    justify-content: space-around;
}

.image-box{
    flex: 1;
    row-gap: 0px;
}

.fourth-section-images .image-box img{
    display: block;
    max-width: 100%;
    /* margin: auto; */
    /* height: auto; */
}

.fifth-section{
    text-align: center;
    /* padding-top: 60px; */
}
.fifth-section h1{
    /* text-align: center; */
    font-weight: 1000;
}

.fifth-section p{
    /* text-align: center; */
    color: #00000098;
}

.fifth-section-input{
    padding-top: 30px;
}
.fifth-section-input input{
    border-radius: 6px;
    padding: 15px;
    width: 50%;
    border: none;
    justify-content: center;
}
.fifth-section-input button{
    background-color: #E55473;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 15px;
    /* margin-left: 120px; */
}

/* bonus section */

.bonus-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 5%;
    /* margin: auto; */
}

.bonus-section .content{
    /* margin: auto;    baki gulo te try korio */
    background-color: #ecdbdf;
    width: 50%;
    border-radius: 10px;
    padding: 50px 100px;
    margin-left: 100px;
    height: 70vh;
    text-align: center;
}

.bonus-section .feedback-form{
    width: 50%;
    /* margin: 0 auto; */
    margin: 80px;
    background-color: #f0dee2;
    padding: 20px;
    border-radius: 10px;
    height: 80vh;
}

.input-field{
    padding: 10px;
}
.input-field input, textarea{
    display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.input-field button{
    background-color: #E55473;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 15px;
}

footer{
    background-color: black;
    text-align: center;
    padding-top: 8%;
    height: 50vh;
}

footer > h1{
    color: white;
}

footer > p{
    color: rgba(255, 255, 255, 0.582);
}
